#footer
  background: $mainDarker
  height: 100px
  padding-top: 20px
  overflow: hidden

  .footer-nav
    display: flex

    li
      list-style: none
    li:first-child
      margin-right: auto

    a
      color: white
      display: block
      border-radius: 4px
      padding: 10px 20px
      text-decoration: none
      font-weight: normal
      font-size: 14px
      transition: all 0.2s ease

    a.footerText:hover, a.footerText:active
      color: $hoverColorLight

  @media only screen and (max-width: 1180px)
    flex-direction: row
    height: auto
