#footer
  background: $mainDarker
  height: 100px
  padding-top: 20px
  overflow: hidden

  /*@media only screen and (max-width: 1180px)
    height: 300px

  .footer-nav
    display: flex

    li
      list-style: none
    li:first-child
      margin-right: auto

      @media only screen and (max-width: 1180px)
        margin-right: none
        background: red

    a
      color: white
      display: block
      border-radius: 4px
      padding: 10px 20px
      text-decoration: none
      font-weight: normal
      font-size: 14px
      transition: all 0.2s ease

    a.footerText:hover, a.footerText:active
      color: $hoverColorLight

    @media only screen and (max-width: 1180px)
      flex-direction: row
      height: auto
      align-items: center
