#footer
  background: $mainDarker
  height: 100px
  padding-top: 20px
  overflow: hidden

  @media only screen and (max-width: 1180px)
    height: auto

  .footer-nav
    display: flex
    flex-wrap: wrap

    li
      list-style: none
      margin-right: -5px

      @media only screen and (max-width: 500px)
        margin-right: -20px

    li:first-child
      margin-right: auto
      @media only screen and (max-width: 1013px)
        margin-right: -5px
      @media only screen and (max-width: 500px)
        margin-right: -20px

    a
      color: white
      display: block
      border-radius: 4px
      padding: 10px 20px
      text-decoration: none
      font-weight: normal
      font-size: 14px
      transition: all 0.2s ease

    a.footerText:hover, a.footerText:active
      color: $hoverColorLight
