.main-nav
  display: flex
  margin-top: 20px
  float: right

  li
    list-style: none

  a
    color: white
    display: block
    border-radius: 4px
    padding: 10px 20px
    text-decoration: none
    font-weight: bold
    font-size: 14px
    text-transform: uppercase

  a.signUpButton
    background: white
    color: $mainColor
    box-shadow: 0 12px 10px -10px rgba(0,0,0,0.2)
    border-radius: 1000px
    transition: all 0.2s ease
    margin-left: 10px

  a:hover
    color: $hoverColorLight
